---
layout: default
title: Home
permalink: /
---

{% include hero.html %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <img src="/res/img/robert-portrait-square-sm.jpg">
      </div>

      <div class="column is-8 has-left-border">
        <h1 class="title is-3">Time for a Change in Senate District 22</h1>

        <div class="is-size-4">
          <p>The incumbent has had 10 years in office. In that time he has consistently failed our public schools and our citizens’ access to healthcare. He has ignored the environmental impacts of our greatest blessing, our oil and gas industries, and neglected Texas infrastructure.</p>

          <p>I am running because we can do better!</p>

          <a href="/why" class="button is-info is-large">Read more!</a>

          <a href="https://secure.actblue.com/donate/vick-for-senate-1" class="button is-warning is-large"><b>Donate now!</b></a>
        </div>
      </div>
    </div>

    <hr>

    {% include news-and-events.html %}

    <hr>

    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="/res/img/teacher2-4x3.jpg">
          </div>

          <div class="card-content has-text-centered">
            <h3 class="title is-4">Strong Public Education Policies</h3>
            <a href="/positions/strong-public-education-policies" class="button is-info">Read more</a>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="/res/img/healthcare1-4x3.jpg">
          </div>

          <div class="card-content has-text-centered">
            <h3 class="title is-4">Healthcare</h3>
            <a href="/positions/healthcare" class="button is-info">Read more</a>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="/res/img/labor2-4x3.jpg">
          </div>

          <div class="card-content has-text-centered">
            <h3 class="title is-4">Labor Rights</h3>
            <a href="/positions/labor-rights" class="button is-info">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="/res/img/teacher4-4x3.jpg">
          </div>

          <div class="card-content has-text-centered">
            <h3 class="title is-4">Support for Teachers</h3>
            <a href="/positions/support-for-teachers" class="button is-info">Read more</a>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="/res/img/cannabis4-4x3.jpg">
          </div>

          <div class="card-content has-text-centered">
            <h3 class="title is-4">Cannabis Reform</h3>
            <a href="/positions/cannabis-reform" class="button is-info">Read more</a>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="/res/img/environment4-4x3.jpg">
          </div>

          <div class="card-content has-text-centered">
            <h3 class="title is-4">Environmental Priorities</h3>
            <a href="/positions/environmental-priorities" class="button is-info">Read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="/res/img/gun1-4x3.jpg">
          </div>

          <div class="card-content has-text-centered">
            <h3 class="title is-4">Gun Violence Prevention</h3>
            <a href="/positions/gun-violence-prevention" class="button is-info">Read more</a>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="/res/img/justice2-4x3.jpg">
          </div>

          <div class="card-content has-text-centered">
            <h3 class="title is-4">Criminal Justice Reform</h3>
            <a href="/positions/criminal-justice-reform" class="button is-info">Read more</a>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <img src="/res/img/democracy1-4x3.jpg">
          </div>

          <div class="card-content has-text-centered">
            <h3 class="title is-4">Encouraging Democracy</h3>
            <a href="/positions/encouraging-democracy" class="button is-info">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
