<style>
  /* NOTE: These styles have to be here because they reference a static path! All of the other styles pertaining to these elements is in the custom.css file. Sorry for any confusion! */
 .hero {
   background: url("/res/img/banner-equalized.jpg") center center !important;
   background-size: cover !important;
 }
</style>

<div class="section hero is-medium">
  <div class="hero-body">
    <div class="translucent">
      <div class="container">
        <h1 class="title has-text-white">Robert Vick</h1>
        <h2 class="subtitle has-text-white">for Texas Senate District 22</h2>

        <div class="social-media-icons-container">
          <a href="https://facebook.com/vickfortexas" target="_blank">
            <span class="social-media-icon">
              <img src="/res/img/facebook.png">
            </span>
          </a>

          <a href="https://twitter.com/senatevick" target="_blank">
            <span class="social-media-icon">
              <img src="/res/img/twitter.png">
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
