<style>
  /* NOTE: These styles have to be here because they reference a static path! All of the other styles pertaining to these elements is in the custom.css file. Sorry for any confusion! */
 .hero {
  {% if page.thumbnail %}
    background: url("{{ page.thumbnail }}") center center !important;
  {% else %}
    background: url("/res/img/banner-equalized.jpg") center center !important;
  {% endif%}

  background-size: cover !important;
 }
</style>

<div class="section hero is-small">
  <div class="hero-body">
    <div class="translucent">
      <div class="container">
        <h1 class="title has-text-white is-size-1">Robert Vick</h1>
        <h2 class="subtitle has-text-white is-size-4">for Texas Senate</h2>
      </div>
    </div>
  </div>
</div>
